---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <style>
    .post-header, .post-content, .post-meta {
      max-width: 100%; 
    }
  
    .a {
      float: left;
      width: 250px; 
      margin-right: 30px; 
      position: sticky;
      top: 20px;
    }
  
    .b {
      overflow: hidden; 
    }
  
    
  </style>

    <div class="a">
    
      <nav id="toc">
        <h2>TOC</h2>
        {{ page.toc }}
      </nav>
    </div>

    <div class="b">
    
    <div style="flex: 1;">

      <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
          </time>
          {%- if page.author -%}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span class="p-author h-card" itemprop="name">{{ page.author }}</span>
              </span>
          {%- endif -%}
        </p>
      </header>

      <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
      </div>

      {%- if site.disqus.shortname -%}
        {%- include disqus_comments.html -%}
      {%- endif -%}

    </div>
    </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>